<div class="container">
  <div class="card">
    <div class="card-header">
      Lista de Orientadores
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-sm-3">
          <div class="form-group">
            <label for="filtro">Filtro</label>
            <select id="filtro" class="form-control" placeholder="Nome completo" formControlName="filtro">
              <option *ngFor="let item of estagiarios">{{item.nomeCompleto}}</option>
            </select>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="form-group">
            <label for="busca">Busca</label>
            <input type="text" class="form-control" placeholder="Texto" formControlName="busca">
          </div>
        </div>

        <div class="col-sm-4">
          <button type="button" class="btn btn-primary">Buscar</button>
        </div>
      </div>



      <div class="container">
        <div class="table-responsive">
          <table class="table table-striped table-bordered table-hover table-condensed table table-condensed">
            <thead>
              <tr>
                <th>Matrícula</th>
                <th>Nome Completo</th>
                <th>Abordagem</th>
                <th>Status</th>
                <th>Ação</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of estagiarios">
                <td>{{item.matricula}}</td>
                <td>{{item.nomeCompleto}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
  </div>